body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 40px;
  margin-left: 20px;
}

.App-logo {
  float: left;
  margin-right: 1.5vw;
  margin-left: 2vw;
  height: 8vmin;
  pointer-events: none;
}

#Search-heading {
  margin: 0px;
  padding: 0px;
}

#Search-text {
  margin-top: 0px;
  padding: 0px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dp {
  vertical-align: middle;
  height: 200px;
  pointer-events: none;
  margin-left: 2vw;
}

.userTile {
  width: 270px;
  height: 250px;
  margin-top: 2.5vw;
  margin-right: 1.5vw;
  margin-left: 4vw;
  background-color: #f0ebeb;
  position: relative;
}

.userInfo {
  color: #000000;
  font-size: 20px;
  left: 50%;
  position: absolute;
  text-align: left;
  top: 30%;
}

